<!DOCTYPE html>
<html>
<head>
  {{> head}}
  
</head>

<body id="backend"  style="background-color: rgb(214, 148, 208);">
     <header class="header_section">
      {{> nav}}
    </header>
    <h1>Panel de Administrador</h1>
    <div class="container mb-4">



        <div class="table-responsive mt-4">
            <table class="table caption-top">
                <h3><b>Lista de productos</b></h3>
                </br>
                <thead class="table-light">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" style="max-width: 30%">Descripcion</th>
                        <th scope="col" style="max-width: 5%">Precio ($)</th>
                        <th scope="col" style="max-width: 5%">Stock </th>
                        <th scope="col" style="max-width: 5%">Acciones</th>
                    </tr>
                </thead>

                  <tbody id="admin-productos">

                    {{#each productos}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{title}}</td>
                        <td><img class="img-box" style="width: 100px; height: 100px;" src={{image}}>
                        </td>
                        <td class="description"> 
                       <ul>
                        {{#listado description}}
                        <li>{{this}}</li>
                         {{/listado}}
                          </ul>
                        </td> 
                        <td>$ {{price}}</td>
                        <td>{{stock}}</td>
                        <td>
                             <a href="/editar-producto/{{id}}" class="btn btn-info btn-lg">
                            <span class="glyphicon glyphicon-pencil"></span>  
                            </a>
                            <br></br>
                             <a href="/borrar/{{id}}" class="btn btn-danger btn-lg">
                            <span class="glyphicon glyphicon-trash"></span> 
                            </a>
                             
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>

             </br>
            <a href="/agregar-productos" class="btn btn-secondary">Agregar producto</a>
      <a href="/" class="btn btn-secondary">Volver a la Pagina Principal</a>
        </div>

    </div><!-- /container -->

<!-- /footer -->
    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    </script>
{{> script}}


  <footer class="footer_section">
    {{> footer}}
  </footer>
</body>

</html>